:root {
  --branding-color: #deb1aa;
  --secondary-color: #f9ffff;
  --tertiary-color: #9792a1;
  --golden-color: #b69c56;
  --back-primary-color: #f9f0ed;

  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 82px;
  font-style: italic;
}

.logo {
  max-width: 125px;
}

.navbar {
  padding: 0;
  min-height: 90px;
  background-color: var(--secondary-color);
  font-size: 20px;
}

.navbar a:hover {
  color: var(--tertiary-color) !important;
}

.navbar-brand,
.nav-link {
  padding: 0;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}

.active {
  color: var(--tertiary-color) !important;
}

.nav-item {
  padding: 0 15px;
}

.hero {
  background: var(--back-primary-color);
  padding: 150px 120px;
}

h2,
.hero h2 {
  color: var(--golden-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-family: var(--default-font-family);
  color: var(--tertiary-color);
  font-size: 30px;
}

.content-container {
  padding: 60px 20px;
}

.content {
  margin: 30px;
}

.content-container h1 {
  font-size: 60px;
  line-height: 80px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
  color: var(--golden-color);
}

.content-container p {
  color: var(--tertiary-color);
  font-family: var(--heading-font-family);
  line-height: 1.7;
  text-align: justify;
}

.btn-branding {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 10px;
  font-family: var(--default-font-family);
}

.btn-branding:hover {
  background: var(--back-primary-color);
  color: var(--golden-color);
  border: solid var(--golden-color);
  font-style: bold;
}

.welcome {
  font-family: var(--heading-font-family);
  color: var(--tertiary-color);
  text-align: justify;
  line-height: 2;
}

.fa-3x {
  color: var(--golden-color);
}

.skills-learned {
  background: none;
  padding: 140px 100px;
}

.skills {
  font-family: var(--default-font-family);
  color: var(--tertiary-color);
  display: flex;
}

.cert-container {
  padding: 140px 100px;
  background: var(--back-primary-color);
}

.form-label,
.form-control {
  font-family: var(--heading-font-family);
  font-style: italic;
  color: var(--tertiary-color);
  font-size: 15px;
}

footer h3 {
  color: var(--branding-color);
  letter-spacing: 4px;
  font-size: 50px;
  font-family: var(--heading-font-family);
  font-style: italic;
}

.connect {
  padding: 210px 50px 130px;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-position: center;
}

footer .social-links a {
  margin: 0 30px;
  padding: 10px 14px;
  border-radius: 50%;
  color: var(--golden-color);
  background-color: var(--back-primary-color);
}

footer .social-links a:hover {
  color: var(--back-primary-color);
  background-color: var(--branding-color);
}

.footer-bottom {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  text-align: center;
  margin: 0;
  letter-spacing: 5px;
  font-size: 15px;
}

.footer-bottom a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}

.footer-bottom a:hover {
  color: var(--golden-color);
  text-decoration: underline;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
    text-align: center;
  }

  h1,
  .content-container h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2,
  h3,
  .hero p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 0;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 1;
  }

  .btn-branding {
    font-size: 15px;
    line-height: 20px;
    padding: 12px 27px;
    border-radius: 10px;
  }

  .welcome-container {
    padding: 60px 20px;
  }

  .welcome {
    font-size: 12px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  footer h3 {
    font-size: 35px;
  }

  .footer-bottom {
    font-size: 8px;
  }
}
