:root {
  --branding-color: #deb1aa;
  --secondary-color: #f9ffff;
  --tertiary-color: #9792a1;
  --golden-color: #b69c56;
  --back-primary-color: #f9f0ed;

  --heading-font-family: "Libre Baskerville", serif;
  --default-font-family: "Josefin Sans", sans-serif;
}

h1 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 85px;
  font-style: italic;
}

.hero {
  background: var(--back-primary-color);
  padding: 160px 120px;
}

h2,
.hero h2 {
  color: var(--golden-color);
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-family: var(--default-font-family);
  color: var(--tertiary-color);
  font-size: 36px;
}

.about-section {
  padding: 160px 20px;
}

.about-section-content {
  margin: 30px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section p {
  color: var(--tertiary-color);
}

.btn-branding {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border-radius: 10px;
}

.btn-branding:hover {
  background: var(--secondary-color);
  color: var(--branding-color);
  border: solid var(--golden-color);
}

.welcome-container {
  padding: 160px 50px;
}

.welcome {
  font-family: var(--heading-font-family);
  color: var(--tertiary-color);
  text-align: justify;
  line-height: 2;
}

.skills-learned {
  background: var(--back-primary-color);
  padding: 160px 50px;
}

.skills {
  font-family: var(--default-font-family);
  color: var(--tertiary-color);
}

.footer-bottom {
  background: var(--branding-color);
  color: var(--secondary-color);
  font-family: var(--default-font-family);
  text-align: center;
  font-stretch: wider;
  margin: 0;
}

.footer-bottom a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: var(--default-font-family);
}

.footer-bottom a:hover {
  color: var(--golden-color);
  text-decoration: underline;
}

@media (max-width: 900px) {
  .hero {
    padding: 80px 20px;
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  h2,
  .hero p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 0;
  }

  .hero h2 {
    font-size: 18px;
    line-height: 1;
  }

  .btn-branding {
    font-size: 12px;
    line-height: 20px;
    padding: 10px 25px;
    border-radius: 10px;
  }

  .welcome-container {
    padding: 60px 20px;
  }

  .welcome {
    font-size: 12px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .footer-bottom {
    font-size: 10px;
  }
}
